@model IEnumerable<DeliveryServiceWebApi.ViewModels.FoodModel>
@{
    ViewData["Title"] = "Food List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DeliveryServiceWebApi.HtmlHelpers
<h3>Foods List</h3>
<hr />
<a asp-action="Create"> Create New </a>
<table>

    <tr>
        <td><h4>Name</h4></td>
        <td>Manufacturer</td>
        <td>Price</td>
        <td>Weight</td>
        <td>Type</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    @TableHelper.CreateTableWithFoods(Html, Model)

</table>
